:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #89a2c2;
  --secondary-color: #415a77;
  --shadow-color: rgba(0, 2, 0, 0.5);
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  cursor: crosshair; /* Hide the default cursor */
}

.cursor {
  width: 50px;
  height: 50px;
  background-color: rgba(241, 239, 239, 0.7); 
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.1s ease, background-color 0.1s ease;
  transform: translate(-50%, -50%);
}


.dark-mode .custom-cursor {
  border-color: #fff; /* Change color in dark mode */
}


.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --gradient-start: rgba(255, 255, 255, 1);
  --gradient-end: #9cb1cb;
}

.dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
  --primary-color: #ffcc00;
  --secondary-color: #ffaa00;
  --border-color: #ffcc00;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --gradient-start: rgba(0, 0, 0, 1);
  --gradient-end: #415a77;
}

body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  margin-top: 20px;
  color: var(--text-color);
}

section {
  padding: 20px 0;
}

.custom-navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 60px; 
}

.drop-down-menu {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

.brand-name {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem !important; 
  color: var(--text-color);
}

.about-section {
  background: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 80%);
  margin-top: 50px;
}

.about-section h1 {
  font-size: 3.5rem;
  margin-top: 30px;
}

.about-section h2 {
  font-size: 2rem;
  margin-top: 10px;
  color: var(--secondary-color);
}

.about-section h3 {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.about-section .profile-img {
  width: 420px; 
  height: 420px;
  padding: 10px;
  box-shadow: 10px 10px 20px 5px var(--shadow-color);
  object-fit: cover; /* Ensures the image fits within the circle */
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.about-section .btn-outline-primary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.about-section .btn-outline-primary:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.skills-grid {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Increase the gap between rows */
  margin-top: 40px;
}

.skill-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  gap: 30px; /* Increase the gap between skills */
}

/* Define the keyframes for slide-in animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the skill icons */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease; /* For hover effect */
}

.skill p {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--text-color);
}

.skill:hover {
  transform: scale(1.2);
}

/* Hide the skill elements initially */
.skill.hidden {
  opacity: 0;
}

/*  Useless
.skill.slide-in {
  animation: slideInRight 0.5s ease-out forwards;
} */


.text-center {
  font-family: 'Arial', sans-serif; /* Change the "My skill" font family here */
}

.project-card {
  border-radius: 5px;
  box-shadow: 5px 5px 8px 5px var(--secondary-color);;
  padding: 20px;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 15px;
}

.project-card h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.project-card p {
  font-size: 1rem;
  color: var(--text-color);
}

/* Apply the animations to the project cards */
.project-card-left {
  animation: slideInLeft 1s ease-out forwards;
}

.project-card-right {
  animation: slideInRight 1s ease-out forwards;
}

.projects-section .tags {
  font-size: 14px;
  font-weight: 300;
  color: black;
  span {
    padding: 5px;
    background-color: #f1efef;
    border-radius: 8px;
  }
}
.projects-section .tags-container {
  display: flex;
  flex-wrap: wrap; /* Ensure wrapping if there are too many tags */
  gap: 10px;
  margin-bottom: 10px;
}

.projects-section .btn-outline-primary {
  border-radius: 5px;
  height: 40px;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: 120px;
  margin-bottom: 10px;
}
.projects-section .btn-contained-primary {
  border-radius: 5px;
  height: 40px;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  margin-right: 50px;
  width: 120px;
  margin-bottom: 10px;
}

.projects-section .btn-outline-primary:hover {
  background-color: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
}
.projects-section .btn-contained-primary:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.contact-section {
  padding: 10px 0;
}

.contact-section h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color);
}

.contact-section p {
  color: var(--text-color);
  margin-bottom: 5px;
}

.contact-icons {
  display: flex;
  gap: 40px;
}

.experiences-section {
  border-top: 1px solid #ddd;
  padding-top: 50px;
  border-bottom: 1px solid #ddd;
}

.experience-row {
  padding-bottom: 0, 20px;
}

.date-range {
  color: var(--text-color);
}

.experience-title {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.experience-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 10px;
}

